<html>

<head>
    <style>
    @import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
    * {
        margin: 0;
        padding: 0;
        -webkit-box-sizing: inherit;
        -moz-box-sizing: inherit;
        box-sizing: inherit;
    }
    
    html,
    body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        font-size: 14px;
        font-family: 'Montserrat', sans-serif;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing : border-box;
    }
    
    body {
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url('deyob_screen.png');
    }
    
    div {
        float: left;
        width: 100%;
    }
    
    img {
        float: left;
        width: 100%;
        margin-bottom: 20px !important;
    }
    
    h1,
    h2,
    h3 {
        float: left;
        width: 100%;
        padding: 0 25px 15px;
        font-weight: 400;

    }
    
    h1 b,
    h2 b,
    h3 b {
        padding: 0;
        margin-bottom: 0;
        width: auto;
        float: none;
        text-align: left;
    }
    
    p,
    b {
        float: left;
        width: 100%;
        padding: 0 25px 15px;
        text-align: justify;
        margin-bottom: 10px;
    }
    
    b {
        font-weight: 700;
    }
    
    ul {
        float: left;
        width: 100%;
        padding: 0 25px 15px;
        margin-bottom: 10px;
    }
    
    li {
        width: 100%;
        margin-left: 15px;
        list-style-type: square;
    }
    </style>
    <meta name="viewport" content="width=device-width, user-scalable=no,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
</head>

<body>
    <div style="width:100%;">
        <img style='display:block;margin:auto;' src='{{actionImage}}'>
        {{actionText}}
    </div>
</body>

</html>
